<ul class="thumbnails">
  <% @shots.each do |shot| %>
    <li class="span3">
      <div class="thumbnail">
        <%= link_to image_tag(shot.shot_image.trippple.url), shot %>
        <p>3 likes</p>
        <p>Jack Bach</p>
      </div>
    </li>
  <% end %>
</ul>
