<%= paginate @shots %>

<ul class="thumbnails">
  <% @shots.each do |shot| %>
    <li class="span3">
      <div class="thumbnail">
        <%= image_tag(shot.shot_image.trippple.url) %>
        <p class="likes"><%= link_to pluralize(shot.likes, 'likes'), like_shot_path(shot), :remote => true, :method => :post %></p>
        <p><%= shot.user %></p>
      </div>
    </li>
  <% end %>
</ul>
