<%- model_class = Shot -%>

<ul class="thumbnails">
  <% @shots.each do |shot| %>
    <li class="span3">
      <div class="thumbnail">
        <h3><%= shot %></h3>
        <%= image_tag(shot.shot_image.trippple.url) %>
        <span class="label label-info likes">
          <%= link_to pluralize(shot.likes, 'likes'),
            like_shot_path(shot),
            :method => :post %>
        </span>
      </div>
    </li>
  <% end %>
</ul>
