<ul class="thumbnails">
  <% @shots.each do |shot| %>
    <li class="span3">
      <div class="thumbnail">
        <%= image_tag(shot.shot_image.trippple.url) %>
        <p>0 likes</p>
        <p>John Smith</p>
      </div>
    </li>
  <% end %>
</ul>
